
<%= form_with model: [ @room, @room.reviews.build ] do |form| %>
  
  <div class="mb-2">
    <div class="mb-2 h5">
      <%= form.label "Leave a Review", class: "" %>
    </div>
    <%= form.text_area :comment, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= form.label "Rating", class: "form-control" %>
    <%= form.select :rating, [ 1, 2, 3, 4, 5], selected: 5, class: "form-select", id: "inputGroupSelect01" %>
  </div>
  <div class="d-grid gap-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>


<% end %>


