<%= form_with model: [ @room, @room.reviews.build ] do |form| %>
  <p>
    <%= form.label :reservation_id %><br>
    <%= form.text_field :reservation_id %>
  </p>

  <div class="pb-3">
  Rating:
  <%= form.select :rating, [ 1, 2, 3, 4, 5], selected: 5 %>

  </div>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

