<div id="<%= dom_id reservation %>">
</div>

<div>
  <% room = Room.find_by(id: reservation.room_id)%>
  <%= "Your stay at #{room.address}"%>
</div>

<div>
<p>Start Date</p>
  <%= reservation.start_date.strftime("%A %B %Y")%>
</div>

<div>
  <p>End Date</p>
  <%= reservation.end_date.strftime("%A %B %Y")%>
</div>
<div>
  <p>Nightly Rate</p>
  <%= reservation.price%>
</div>
<div>
<p>Total</p>
  <%= reservation.total%>
</div>
