<div id="<%= dom_id reservation %>">
</div>

<div>
  <%= reservation.room_id%>
</div>
<div>
  <%= reservation.start_date%>
</div>
<div>
  <%= reservation.end_date%>
</div>
<div>
  <%= reservation.price%>
</div>
<div>
  <%= reservation.total%>
</div>
