<div id="<%= dom_id reservation %>">
</div>

<div>
  <% room = Room.find_by(id: reservation.room_id)%>
  <%# <%= "Your stay at #{room.address}"%> 
  <p>Your stay at <strong class="border-bottom border-3 border-warning"><%="#{room.address}"%></strong>
</div>

<div class="mb-3">
<p><strong>Start Date</strong></p>
  <%= reservation.start_date.strftime("%A %B %Y")%>
</div>

<div>
  <p><strong>End Date</strong></p>
  <%= reservation.end_date.strftime("%A %B %Y")%>
  
</div>
<div>
  <p><h5>Nightly Rate</h5>
  <%= reservation.price%>
  </p>
</div>
<div>
<p><h5>Total</h5>
  <%= reservation.total%>
  </p>
</div>
