<body class="background-image">
<%= form_with model: @reservation do |form| %>

<div class="text-center mt-10">
  <h3>Reserve</h3>
  <div class="container bg-light opacity-75">
      <%= hidden_field(:reservation, :room_id, :value => params[:room_id]) %>
      
      <div class="mb-3 mt-3 pt-5">
        <%= form.label :start_date %>
        <%= form.date_select :start_date %>
        <% @reservation.errors.full_messages_for(:start_date).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :end_date %>
        <%= form.date_select :end_date %>
        <% @reservation.errors.full_messages_for(:end_date).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= form.submit class:"btn btn-primary mb-5"%>
      </div>
    <% end %>
 
  </div>
  <div>
      <%= link_to "Back to rooms", rooms_path%>
    </div>d
</div>

</body>