<div id="<%= dom_id room %>">
</div>
<div>
<%= room_rating() %>
</div>
<div>
  Location: <%= room.city%>,   <%= room.state%>
</div>
<div>
  Address: <%= room.address%>
</div>

<div>
  <%= room.price%> per night
</div>
<div>
  <%= room.description%>
</div>

<div>
 Total occupancy: <%= room.total_occupancy%> dogs
</div>
