
<div id="<%= dom_id room %>">
</div>


<div class="card" style="width: 20rem;">
  <div id="<%= dom_id room %>">
  </div>

  <div class="card-img-top">
  <%= link_to room do %>
  <%= title_image_for(room, 400, 300)%>
  <% end %>

  </div>

  <div class="card-body">

    <div >
      <strong class="border-bottom border-3 border-warning"><%=room.address%></strong>
    </div>
    

    

    <div class="card-text mb-1">
       <%= room.city%>,   <%= room.state%>
    </div>
    

    <div class="card-text mb-1">
      <%= room.price%> per night
    </div>

    <div class="card-text mb-1">
      Rating: <%= room_rating(room) %>
    </div>
    
    <%= link_to "View Room", room, class: "btn btn-primary" %>
    <!---<div>
    Total occupancy: <%= room.total_occupancy%> dogs
    </div>--->
  </div>

</div>
