<div id="<%= dom_id room %>">
</div>

<div>
  <%= title_image_for(room, 400, 300)%>
</div>

<div>
  Rating: <%= room_rating(room) %>
</div>

<div>
  Location: <%= room.city%>,   <%= room.state%>
</div>
<div>
  Address: <%= room.address%>
</div>

<div>
  <%= room.price%> per night
</div>
<div>
  <%= room.description%>
</div>

<div>
 Total occupancy: <%= room.total_occupancy%> dogs
</div>
