<div id="<%= dom_id room %>">
</div>

<div>
  <%= image_tag @room.room_images.first.url%>
</div>
<div>
  <%= image_tag @room.room_images.second.url%>
</div>
<div>
  <%= image_tag @room.room_images.third.url%>
</div>

<div>
  <%= room.address%>
</div>
<div>
  <%= room.city%>
</div>
<div>
  <%= room.state%>
</div>
<div>
  <%= room.price%>
</div>
<div>
  <%= room.description%>
</div>
<div>
  <%= room.home_type%>
</div>
<div>
  <%= room.room_type%>
</div>
<div>
  <%= room.total_occupancy%>
</div>
<div>
  <%= room.total_bedrooms%>
</div>
<div>
  <%= room.total_bathrooms%>
</div>