<%= render @room %>
<div>
  <%= second_image_for(@room, 500, 400)%>
</div>
<div>
  <%= third_image_for(@room, 500, 400)%>
</div>

<h3>Reviews</h3>
<%# <%= render @room.reviews %>
<% @room.reviews.each do |review|%>
  <p>
  <%= review.comment %>
  </p>
<% end %>
  
  <h4>Add a review:</h4>
  <%= render 'review/form' %>


<div>
  <%= link_to "Back to rooms", rooms_path %>
</div>

<div>
  <a href="/reserve">Reserve This Room</a>
</div>