<%= render 'rooms/room_detailed', room_instance: @room_instance %>


<h3>Reviews</h3>
<%# <%= render @room.reviews %>
<% @room.reviews.each do |review|%>
  <p>
  <%= review.comment %>
  </p>
<% end %>
<<<<<<< HEAD

<h4>Add a review:</h4>
<%= render 'review/form' %>
=======
  
  <h4>Add a review:</h4>
  <%= render 'review/form' %>
>>>>>>> 0550ca4efe057d07d6fbb9be20d7d5162a09ae28

<div>
  <%= link_to "Back to rooms", rooms_path %>
</div>

<div>
  <a href="/reserve">Reserve This Room</a>
</div>