<% flash.each do |type, msg| %>
   <div class="alert alert-info" role="alert">
           <%= msg %>
    </div>
 <% end %>

<div>
  <%= link_to "Back to rooms", rooms_path, class:"btn btn-primary" %>
</div>

<div class="container text-center">
  <div class="row">
    <div class = "col-12 pb-4">
      <%= render 'rooms/room_detailed', room_instance: @room_instance %>
    </div>
    
      <div class="col m-4">
        <div class="card d-flex align-items-center" style="width: 20rem;">
          <div class="m-3">
            <strong class="border-bottom border-3 border-warning"><%=@room.address%></strong>
          </div>
          
          <div class="card-text mb-1">
            <%= @room.city%>,   <%= @room.state%>
          </div>

          <div class="card-text mb-1 w-50 fst-italic" style="">
            <%= @room.description%>
          </div>
          <div class="card-text mb-1">
            Building: <%= @room.home_type%>
          </div>
          <div class="card-text mb-1">
            Room: <%= @room.room_type%>
          </div>
          <div class="card-text mb-1">
            Total occupancy: <%= @room.total_occupancy%> dogs
          </div>
          <div class="card-text mb-1">
            Bedrooms: <%= @room.total_bedrooms%> 
          </div>
          <div class="card-text mb-1">
            Bathrooms: <%= @room.total_bathrooms%>
          </div>
          <div class="card-text mb-1">
            $<%= @room.price%> per night
          </div>
          <div class = "pt-4">
            <%= link_to 'Reserve This Room', {:controller => "reservations", :action => "new", :room_id => @room.id, :price => @room.price} , :method=>:get, class:"btn btn-primary"  %>      
          </div>
        </div>
    </div>
    <div class = "col">
      <h3>Reviews</h3>
      <%# <%= render @room.reviews %>
      <div>
        Rating: <%= room_rating(@room) %>
      </div>
      <% @room.reviews.each do |review|%>

        <% if review.rating %>
          <div>
          Rated: <%=review.rating %>
          </div>
        <% end %>
        <div>
        <%= review.comment%>
        </div>
      <% end %>
      <div id="add_a_review" class="pt-5">
        <h4>Add a review:</h4>
        <%= render 'review/form' %>
      </div>
    </div>
    <div class="height-100 container d-flex justify-content-center align-items-center">
    
    <div class="card-b p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="ratings">
                <%if !@room.reviews%>
                  <p>This room has no reviews</p>
                <%else%>
                  <%if room_rating(@room) >= 1%>
                    <i class="fa fa-star rating-color"></i>
                  <%elsif room_rating(@room) <= 1%>
                    <i class="fa fa-star"></i>
                  <%end%>
                  <%if room_rating(@room) >= 2%>
                    <i class="fa fa-star rating-color"></i>
                  <%elsif room_rating(@room) <= 2%>
                    <i class="fa fa-star"></i>
                  <%end%>
                  <%if room_rating(@room) >= 3%>
                    <i class="fa fa-star rating-color"></i>
                  <%elsif room_rating(@room) <= 3%>
                    <i class="fa fa-star"></i>
                  <%end%>
                  <%if room_rating(@room) >= 4%>
                    <i class="fa fa-star rating-color"></i>
                  <%elsif room_rating(@room) <= 4%>
                    <i class="fa fa-star"></i>
                  <%end%>
                  <%if room_rating(@room) >= 5%>
                    <i class="fa fa-star rating-color"></i>
                  <%elsif room_rating(@room) <= 5%>
                    <i class="fa fa-star"></i>
                  <%end%>
                <%end%>
            </div>
            <h5 class="review-count"><%= @room.reviews.count%> Reviews</h5>
        </div>
        
        
        <div class="mt-5 d-flex justify-content-between align-items-center">
            <h5 class="review-stat">Cleanliness</h5>
            <div class="small-ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            
        </div>
        
        
    
</div>
  </div>
</div>

